
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <input type="text" name="dateRange" value="" />
</div>
Start: @ViewBag.start & End: @ViewBag.end

@section scripts{
    @Scripts.Render("~/bundles/custom")
}


